name: Publish Packages to Github Registry

on:
  workflow_dispatch:
    inputs:
      dryRun:
        description: "Do a dry run to preview instead of a real release (true/false)"
        required: true
        default: "true"
      versionType:
        type: choice
        description: Version Type
        options:
          - conventional-commits
          - patch
          - minor
          - major
      versionExplicit:
        description: "Exact version (e.g. '1.0.1', '1.2.3'). If set, this will override versionType."

env:
  DRY_RUN: ${{ github.event.inputs.dryRun }}

jobs:
  authorize:
    name: Authorize
    runs-on: ubuntu-latest
    steps:
      - name: ${{ github.actor }} permission check to do a release
        uses: "lannonbr/repo-permission-check-action@2.0.2"
        with:
          permission: "write"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [ 16.x ]

    env:
      lerna_package_version: ''

    steps:
      - uses: actions/checkout@v3

      - name: Get version type
        if: ${{ github.event.inputs.versionType != 'conventional-commits' }}
        run: |
          echo "lerna_package_version=${{ github.event.inputs.versionType }}" >> $GITHUB_ENV

      - name: Get version input
        if: ${{ github.event.inputs.versionExplicit != null }}
        run: |
          echo "lerna_package_version=${{ github.event.inputs.versionExplicit }}" >> $GITHUB_ENV

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - name: Install
        run: yarn install --frozen-lockfile

      - name: Build
        run: yarn build

      - name: Test
        run: yarn test

      - name: Set registry url
        uses: actions/setup-node@v3
        with:
          registry-url: 'https://npm.pkg.github.com'

      - name: Release (Dry Run)
        if: ${{ env.DRY_RUN == 'true' }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          yarn lerna version ${{ env.lerna_package_version }} --no-push --no-git-tag-version --loglevel silly --yes

      - name: Release (Github Registry)
        if: ${{ env.DRY_RUN == 'false' }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          yarn lerna version ${{ env.lerna_package_version }} --yes
          yarn lerna publish --yes --loglevel silly
